.msite_nav
  bottom-border-1px(#e4e4e4)
  margin-top 1.46rem
  height 3.69rem
  background #fff
  .swiper-container
    width 100%
    height 100%
    .swiper-wrapper
      width 100%
      height 100%
      .swiper-slide
        img
          width 100%
          height 100%
    .swiper-pagination
      >span.swiper-pagination-bullet-active
        background #0d17ff